/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #FF0070;
  --bg-image: url(../images/cover-image-dark.png);
  --main-bg-color: #000028;
  --main-text-color: #f1b2ce;
  --header-logo-color: #DB00FF;
  --main-heading-color: #000028;
  --footer-logo-color: #DB00FF;
  --nav-color: #FF0070;
  --nav-hover-color: rgba(255 0 112 / 0.4);
  --display-rec: block;
}

