/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font-family: 'IBM Plex mono', monospace;
  --accent-color: #FF0070;
  --bg-image: url(../images/cover-image.png);
  --main-bg-color: #000028;
  --main-text-color: #f1b2ce;
  --title-color: #DB00FF;
  --text-color: #000028;
  --nav-color: #FF0070;
  --nav-hover-color: rgba(255 0 112 / 0.4);
  --display-rec: block;
  --main-gap: 10px;
}

@media (width >= 768px) {
  :root {
    --main-gap: 20px;
  }
}